<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties">
        <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
<!--        <property name="username" value="root123"/>-->
<!--        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/> &lt;!&ndash; 启用默认值特性 &ndash;&gt;-->
    </properties>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.oyd.mybatis.pojo.Student" alias="stu"/>
        <package name="com.oyd.mybatis.pojo"/>
    </typeAliases>
    <!--配置 mybatis 环境-->
    <environments default="mysql">
        <!--id:数据源的名称-->
        <environment id="mysql">
            <!--配置事务类型：使用 JDBC 事务（使用 Connection 的提交和回滚）-->
            <transactionManager type="JDBC"/>
            <!--数据源 dataSource：创建数据库 Connection 对象type: POOLED 使用数据库的连接池 -->
<!--            <dataSource type="POOLED">-->
<!--                &lt;!&ndash;连接数据库的四个要素&ndash;&gt;-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="${url}"/>-->
<!--                <property name="username" value="${username:defaultUsername}"/>-->
<!--                <property name="password" value="${password}"/>-->
<!--            </dataSource>-->
                        <dataSource type="com.oyd.mybatis.DruidDataSource">
                            <!--连接数据库的四个要素-->
                            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                            <property name="url" value="${url}"/>
                            <property name="username" value="${username}"/>
                            <property name="password" value="${password}"/>
                        </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--告诉 mybatis 要执行的 sql 语句的位置-->
<!--        <mapper resource="com/oyd/mybatis/mapper/StudentMapper.xml"/>-->
<!--        <mapper class="com.oyd.mybatis.mapper.StudentMapper"></mapper>-->
        <package name="com.oyd.mybatis.mapper"/>
    </mappers>
</configuration>